<!-- login and sign up here, password protected, submit button, redirect to session/:username -->

<h1>Quiz Quest</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h3>Login</h3>
<%= form_tag sessions_path do %>
  Username <%= text_field_tag :username %>
  Password <%= password_field_tag :password %>
  <input type="submit" value="login" name="authenticate">
<% end %>

<h3>Sign Up</h3>
<%= form_tag sessions_path do %>
  Username <%= text_field_tag :username %>
  Password <%= password_field_tag :password %>
  <input type="submit" value="signup" name="authenticate">
<% end %>
