<h1>QuizQuest</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h1>Welcome Back!</h1>
<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_tag sessions_path do %>
  Username <%= text_field_tag :username %>
  Password <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>

<%= link_to "Create an account", new_user_path %>
