<h1>Quiz Quest</h1>
<%= form_for @session do |f|%>
    <%= collection_select :category, :category_id, Category.all, :id, :name %><br>
<%= f.submit%>

 <% end %>

 <%= form_tag games_path do %>
  <label>Solo Game:</label><br>
    <%= collection_select :category, :category_id, Category.all, :id, :name %><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit Post">
<% end %> 