<h1>QuizQuest</h1>

<%= button_to "Logout", "/byebye", method: :delete %>

<!-- Solo Game -->
  <%# 1. collection_select %>
    <%# 2. submit the category %>

    <%= form_tag games_path do %>
     <label>Solo Game:</label><br>
       <%= collection_select :category, :category_id, Category.all, :id, :name %><br>
     <input type="submit" value="Start Game" name="Create">
   <% end %>

  <%#  3. redirect_to games/:id with the submitted category%>


 <%= form_tag games_path do %>
  <label>Create Game:</label><br>
    <%= collection_select :category, :category_id, Category.all, :id, :name %><br>
  <input type="submit" value="Create Game" name="Create">
<% end %>





<%# Create game %>
