<img src="https://files.slack.com/files-pri/T02MD9XTF-FKTMEG33R/qq_logo_v2-01.png">
<h2>Category: <%= @category.name %></h2>
<h2><%= @current_user.username %></h2>
<h3>Score: <%= @current_user.score %>
<br>
<%# this form needs to go to a controller route for posting the game %>
<%= form_tag user_responses_path, method: "post" do %>
  <% @game_questions.each do |q| %>
    <p><%= q.prompt %></p>
    <% q.answers.each do |answer| %>
      <input type="radio" name="<%= answer %>" value="<%= answer %>"><%= answer %>
    <% end %>
  <% end %>
  <input type="submit" value="Submit" name="Submit"> <br>
<% end %>

<%= button_to "Quit Game", "/games", method: :get %>
